:root {
  --color-highlight: #EC6907;
  --color-primary-background: #F5F5F5;
  --color-secundary-background: #FFFFFF;
  --color-primary-text: #56545D;
  --color-secundary-text: #9390A6;
}

/* Set default font family and size */
body, main {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  overflow-x: hidden;
  min-height: 100dvh;
}

/* Reset box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullets, indentation) */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default outline styles */
button,
input,
textarea,
select {
  outline: none;
}

/* Set default line height */
body,
input,
textarea,
select,
button {
  line-height: 1.5;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Remove default form styles */
input,
textarea,
select {
  appearance: none;
  border: none;
  background: none;
  resize: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Define the colors variables for each svg */

/* header */
.back-arrow-svg * {
  stroke: var(--color-highlight) !important;
}

.settings-svg * {
  fill: var(--color-secundary-text) !important;
}

.switch-table-svg * {
  fill: var(--color-highlight) !important;
}

/* Appearance settings */
.switch-logo-svg * {
  fill: var(--color-highlight) !important;
}

.arrow-left-svg * {
  fill: var(--color-primary-text) !important;
}

.arrow-right-svg * {
  fill: var(--color-primary-text) !important;
}

.download-svg * {
  fill: var(--color-primary-text) !important;
}

.upload-svg * {
  stroke: var(--color-primary-text) !important;
}

.pencil-svg * {
  fill: var(--color-primary-text) !important;
}