.title {
    font-size: 3rem;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: var(--color-primary-background);
    font-size: 1.75rem;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    aspect-ratio: 16/8;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.btn_nav {
    background-color: black;
    width: 11rem;
    min-width: fit-content;
    aspect-ratio: 16/7;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Selection of station */
.station_container {
    margin-top: 1rem;
}

.select_station {
    background-color: black;
    color: #f3f3f3;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 1rem;
}