.info {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100px;
  background-color: var(--color-secundary-background);
  transform: translateX(-50%);
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.5rem;
  color: var(--color-primary-text);
  margin-bottom: 1rem;
}

.text {
  color: var(--color-highlight);
  width: 80%;
  font-weight: bold;
  animation: moveText 15s infinite linear;
  -webkit-animation: moveText 15s infinite linear;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

.text::before {
  content: "<<";
  margin-right: 0.1rem;
}

.text::after {
  content: ">>";
  margin-left: 0.1rem;
}
