.settings_container {
  height: 85dvh;
}

.settings_container h2 {
  font-size: 25px;
  font-weight: 400;
  color: var(--color-primary-text);
  text-align: center;

  @media (max-width: 1100px) {
    font-size: 20px;
  }
}

.page-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}

.page-selector-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  height: 52.5px;
  margin: 0 10px;
  cursor: pointer;
}

.table-content-container {
  width: 30%;
  min-width: 400px;
  margin-inline: auto;
  background-color: var(--color-secundary-background);
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.table-content-container > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.table-content-container > div > div img {
  width: 25px;
  height: 25px;
}
.action_container {
  display: flex;
  gap: 1rem;
}

.action_container button {
  height: 25px;
}

.save_btn {
  display: block;
  margin-inline: auto;
  margin-top: auto;
  width: 10%;
  min-width: fit-content;
  max-width: 20rem;
  padding: 1rem 2rem;
  color: var(--color-secundary-background);
  background-color: var(--color-highlight);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 120%;

  font-weight: bold;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}