.table_container {
    width: 100%;
    min-width: 1000px;
    overflow-x: auto;
}

.table {
    width: 95%;
    margin-top: 4.5rem;
    margin-inline: auto;
    margin-bottom: 10rem;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: var(--color-secundary-background);
}

.table th,
.table td {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    max-width: 10vw;
    width: 8vw;
    min-width: 130px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.table th {
    font-size: 1.25rem;
    background-color: var(--color-primary-background);
    color: var(--color-secundary-text);
}

.table tr:nth-child(2n) {
    background-color: var(--color-primary-background);
}

.table td {
    font-size: 1.1rem;
}

.late {
    background-color: #FE0000 !important;
}

.late td {
    color: white !important;
}

@media (max-width: 768px) {
    .table_container {
        min-width: 0;
    }

    .table {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .table th,
    .table td {
        padding: 0.5rem;
        max-width: none;
        width: auto;
        min-width: 0;
    }
}
